body,
p,
h1,
h2,
h3,
h4,
h5,
ol,
ul,
li,
dl,
dd,
input,
button {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

em,
i {
    font-weight: normal;
    font-style: normal;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="search"],
button {
    appearance: none;
}

/* input [type=search] 搜索框去掉默认边框和旁边的小图标 */
input::-webkit-search-cancel-button {
    display: none;
}

button,
textarea,
input {
    border: 0;
    background: none;
}

a {
    text-decoration: none;
    outline: none;

    blr: expression(this.onFocus=this.blur());

    &:focus,
    &:link {
        -moz-outline: none;
        outline: none;
    }

    &:link,
    &:visited,
    &:hover {
        text-decoration: none;
    }

    &:active {
        star: expression(this.onFocus=this.blur());
    }
}

/* html tag中比较常用的设定 */
html,
body {
    min-height: 100vh;
    
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

    color: #333333;
    background-color: #fff;
}

/* 页面主体内容部分所占的宽度和位置居中 */
.container {
    margin: 0 auto;
    width: 1200px;
}

/* 页面markdown内容样式控制 */
.markdown-body {
    text-align: left;

    h3 {
        font-size: 24px !important;
    }

    p {
        margin-bottom: 0 !important;
        
        font-size: 16px;
        line-height: 32px;
        text-indent: 32px;

        color: #666;
    }

    // 防止markdown img标签超宽
    img {
        max-width: 100%;
    }
}

.img {
    width: 100%;
}
