$main-color: #fdc5e0;
$main-padding: 0 50px 30px;

.best-certified-architect {
    margin-top: 30px;

    .activity-list {
        margin: $main-padding;

        .item-img {
            margin-bottom: 30px;

            background-position: center;
            background-size: cover;

            width: 500px;
            height: 300px;
        }
    }
}

.all-certified-architect {
    margin-top: 30px;

    background-color: #e5e2e2;

    .activity-list {
        margin: $main-padding;

        .item-img {
            margin-bottom: 30px;

            background-position: center;
            background-size: cover;

            width: 500px;
            height: 300px;
        }
    }
}

.become-certified-architect {
    display: block;

    margin: 30px auto 30px;

    width: 200px;
    height: 64px;

    text-align: center;
    line-height: 64px;
    font-size: 25px;

    background-color: #e45858;
    color: #fff;
}