$main-color: #f068a9;
$main-padding: 0 50px 30px;
$black-color: #101213;
$gray-color: #5e6468;
$t-hover-color: #ee534e;

.best-certified-architect {
    margin-top: 30px;

    .activity-list {
        margin: $main-padding;

        .product-type-container {
            display: inline-block;
            position: relative;

            margin-bottom: 15px;
            max-width: 100%;

            border-radius: 10px;

            overflow: hidden;

            .product-type-img {
                width: 300px;
                height: 400px;

                background-size: cover;
                background-position: center center;
            }

            .product-type-overlay {
                position: absolute;
                display: flex;

                width: 100%;
                height: 100%;
                
                align-items: center;
                justify-content: center;

                z-index: 1000;
                opacity: 0;
                transition: all 0.3s ease;
                background: rgba(12, 10, 10, 0.5);
                cursor: pointer;

                .product-type-info {
                    display: flex;

                    width: 80%;
                    height: 80%;

                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    border-radius: 10px;

                    border: 1px solid #D0AF51;

                    h3 {
                        font-size: 30px;
                    }

                    .fa {
                        padding-top: 9px;
                        width: 50px;
                        height: 50px;

                        border: 2px solid #D0AF51;
                        border-radius: 50%;
                    }

                    .white-border {
                        border-color: #fff;
                    }
                }
            }
        }

        .product-type-container:hover {
            .product-type-img {
                filter: blur(3px);
            }

            .product-type-overlay {
                opacity: 1;
            }
        }

        .gold-text {
            color: #D0AF51;
        }

        .white-text {
            color: white;
        }
    }
}

.all-certified-architect {
    margin-top: 30px;

    .activity-list {
        margin: $main-padding;

        .list-item {
            margin-bottom: 10px;
            width: 100%;
            height: 210px;

            border-bottom: 1px solid #b8bdc0;

            .content {
                width: 100%;
                height: 180px;

                .describe {
                    margin: 10px 0 0 10px;

                    .portrait {
                        margin-right: 30px;
                        width: 100px;
                        height: 100px;
        
                        border-radius: 50px;
    
                        background-position: center center;
                        background-size: cover;
                    }
        
                    .detail {
                        .nick-name {
                            font-size: 25px;
                            line-height: 35px;
        
                            color: $black-color;
                        }
        
                        .post {
                            font-size: 18px;
                            line-height: 30px;
        
                            color: $gray-color;
                        }
        
                        .grade {
                            margin-top: 10px;
        
                            font-size: 18px;
                            line-height: 30px;
        
                            color: $gray-color;
        
                            .number {
                                font-size: 20px;
        
                                color: $black-color;
                            }
                        }
        
                        .btn-div {
                            margin-top: 10px;
        
                            
                            
                            .attent-btn{
                                width: 100px;
                                height: 38px;
        
                                background-color: rgb(224, 54, 54);
                                color: #fff;

                                cursor: pointer;
                            }
        
                            .home-btn {
                                width: 100px;
                                height: 38px;
        
                                background-color: rgb(245, 239, 239);
                                color: rgb(43, 37, 37);

                                cursor: pointer;
                            }
                        }
                    }
                }
    
                .product {
                    margin: 0 10px 0 30px;
                    width: 700px;
                    height: 200px;
    
                    .img-list {
                        .img {
                            margin: 10px 0 0 5px;
                            width: 200px;
                            height: 160px;
    
                            background-position: center center;
                            background-size: cover;
                        }
                    }
                }
            }

            .content:hover {
                box-shadow: 0px 4px 10px 5px rgba(0,0,0,0.2);

                transform: translate3d(0px,-4px,0px);
                transition: all 0.3s ease;
            }
        }
    }
}

.become-certified-architect {
    display: block;

    margin: 30px auto 30px;

    width: 200px;
    height: 64px;

    text-align: center;
    line-height: 64px;
    font-size: 25px;

    background-color: #e45858;
    color: #fff;
}