/*
 * 颜色定义
 */

// 主题颜色
$main-color: rgb(255, 255, 255);

// 字体颜色
$font-color: #4a616d;


// 黑色素
$black-color: #101213;


$gray-color: #5e6468;
$t-hover-color: #ee534e;


/*
 * 间距定义
 */
// main content padding
$main-padding: 0 50px 30px;



/*
 * 字体定义
 */



