$main-color: #f39549;
$main-padding: 0 50px 30px;
$black-color: #101213;
$gray-color: #5e6468;
$t-hover-color: #ee534e;

.header {
    // position: fixed;
    // top: 0;

    width: 100%;
    height: 60px;

    font-size: 20px;

    color: rgb(22, 21, 21);

    background-color: $main-color;

    .container {
        position: relative;

        .logo-img {
            display: block;
            
            margin-left: 100px;
            width: 160px;
            line-height: 55px;

            .img {
                width: 155px;
                height: 50px;
            }
        }

        .header-nav-right {
            margin-left: 130px;

            .nav-li {
                margin-right: 50px;

                line-height: 60px;
                font-size: 15px;

                color: rgb(22, 21, 21);
            }
        }

        .header-login {
            margin-right: 50px;

            .nav-li {
                margin-right: 50px;

                line-height: 60px;
                font-size: 15px;

                color: rgb(22, 21, 21);
            }
        }

        // .logo {
        //     position: absolute;
        //     left: 50%;

        //     margin-left: -150px;
        //     width: 300px;

        //     .logo-top {
        //         margin-bottom: 20px;
        //         width: 100px;
        //         height: 5px;

        //         background-color: $main-color;
        //     }

        //     .logo-en {
        //         margin-bottom: 20px;
        //     }

        //     .logo-zh {
        //         font-size: 25px;
        //     }
        // }
    }
}

.banner {
    .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-slide {
            background-position: center;
            background-size: cover;

            height: 500px;
        }
    }
}

.title {
    padding: 30px 0 30px;

    font-size: 30px;
    text-align: center;

    color: $main-color;

    .title-sm {
        padding-left: 30px;

        font-size: 25px;

        color: #8e7e7e;
    }

    .title-bg {
        padding-right: 30px;

        font-size: 30px;

        color: #dd2222;
    }
}

.new-activity {
    margin-top: 30px;

    .container {
        .activity-list {
            margin: $main-padding;

            .list-item {
                position: relative;

                display: block;

                margin-bottom: 50px;
                height: 520px;
                width: 330px;

                border-radius: 5px;

                .list-img-div {
                    position: relative;

                    width: 330px;
                    height: 330px;

                    overflow: hidden;

                    cursor: pointer;

                    .item-img {
                        width: 330px;
                        height: 330px;
    
                        border-radius: 5px 5px 0 0;
    
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .item-cover {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;

                        border-radius: 5px;

                        background-color: rgba(102, 102, 102, 0.44);;
                    
                        opacity: 0;
                    }
                }

                .list-img-div:hover {
                    .item-img {
                        transform: rotate(0deg) scale(1.2) translate(0%,0%);

                        transition: All 8s ease;
                    }

                    .item-cover {
                        opacity: 1;

                        transition: All 1s ease;
                    }
                }

                .item-text {
                    margin-top: 10px;
                    padding: 10px;
                    
                    .t-title {
                        color: $black-color;
                    }

                    .t-title:hover {
                        color: $t-hover-color;
                    }

                    .t-describe {
                        margin-top: 15px;

                        color: $gray-color;
                    }

                    .t-type {
                        position: absolute;
                        bottom: 10px;

                        color: $black-color;

                        .icon {
                            font-size: 30px;
                        }
                    }
                }
            }

            .list-item:hover {
                box-shadow:  0px 17px 50px 0px rgba(0,0,0,0.188235);
                
                transform: translate3d(0px,-2px,0px);
                transition: all 0.3s ease;
            }

            .item-img-big {
                width: 100%;
                height: 300px;

                background-position: center;
                background-size: cover;
            }
        }

        .activity-bottom {
            text-align: center;

            .activity-bottom-en {
                padding: 10px 0 10px;

                color: #a19fa9;
            }

            .activity-bottom-zh {
                padding-bottom: 30px;
                
                color: #8e8785;
            }
        }
    }
}

.hot-classify {
    padding: $main-padding;

    background-color: #8cc3f0;

    .classify-list {
        margin: $main-padding;

        .list-item {
            position: relative;

            display: block;

            margin-bottom: 50px;

            border-radius: 5px;

            .item-text {
                position: absolute;
                bottom: 15px;

                height: 50px;
                width: 100%;
                
                border-top: 1px solid #dddfe0;
                border-bottom: 1px solid #dddfe0;

                background-color: rgba(241, 227, 227, .5);

                .t-title {
                    padding-left: 30px;

                    line-height: 50px;
                    font-size: 20px;

                    color: $gray-color;
                }
            }

            .list-img-div {
                position: relative;

                width: 330px;
                height: 200px;

                overflow: hidden;

                cursor: pointer;

                .item-img {
                    width: 330px;
                    height: 200px;

                    border-radius: 5px 5px 0 0;

                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .item-cover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    border-radius: 5px;

                    background-color: rgba(102, 102, 102, 0.44);;
                
                    opacity: 0;
                }
            }

            .list-img-div:hover {
                .item-img {
                    transform: rotate(0deg) scale(1.2) translate(0%,0%);

                    transition: All 8s ease;
                }

                .item-cover {
                    opacity: 1;

                    transition: All 1s ease;
                }
            }
        }

        .list-item:hover {
            box-shadow:  0px 17px 50px 0px rgba(0,0,0,0.188235);
            
            transform: translate3d(0px,-2px,0px);
            transition: all 0.3s ease;
        }

        .item-img-big {
            width: 100%;
            height: 300px;

            background-position: center;
            background-size: cover;
        }
    }
}

.active-certified-architect {
    padding: $main-padding;

    background-image: url('/public/images/1.jpeg');
    
    .certified-architect-list {
        margin: $main-padding;

        .list-item {
            position: relative;

            display: block;

            margin-bottom: 50px;
            width: 330px;

            border-radius: 5px;

            .list-img-div {
                position: relative;

                width: 330px;
                height: 350px;

                overflow: hidden;

                cursor: pointer;

                .item-img {
                    margin: 10px;
                    width: 310px;
                    height: 350px;

                    border-radius: 5px 5px 0 0;

                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            .item-text {
                margin-top: 10px;
                padding: 10px;
                
                .t-title {
                    color: $black-color;
                }

                .t-title:hover {
                    color: $t-hover-color;
                }

                .t-describe {
                    margin-top: 15px;

                    color: $gray-color;
                }

                .t-type {
                    position: absolute;
                    bottom: 10px;

                    color: $black-color;

                    .icon {
                        font-size: 30px;
                    }
                }
            }
        }

        .list-item:hover {
            box-shadow:  0px 17px 50px 0px rgba(0,0,0,0.188235);
            
            transform: translate3d(0px,-2px,0px);
            transition: all 0.3s ease;
        }

        .item-img-big {
            width: 100%;
            height: 300px;

            background-position: center;
            background-size: cover;
        }
    }
}

.member-good-production {
    padding: $main-padding;

    .production-list {
        margin: $main-padding;

        .list-item {
            position: relative;

            display: block;

            margin-bottom: 50px;
            height: 330px;
            width: 330px;

            border-radius: 5px;

            .list-img-div {
                position: relative;

                width: 330px;
                height: 320px;

                overflow: hidden;

                cursor: pointer;

                .item-img {
                    margin: 10px;
                    width: 310px;
                    height: 350px;

                    border-radius: 5px 5px 0 0;

                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            .item-text {
                margin-top: 10px;
                padding: 10px;
                
                .t-title {
                    color: $black-color;
                }

                .t-title:hover {
                    color: $t-hover-color;
                }

                .t-describe {
                    margin-top: 15px;

                    color: $gray-color;
                }

                .t-type {
                    position: absolute;
                    bottom: 10px;

                    color: $black-color;

                    .icon {
                        font-size: 30px;
                    }
                }
            }
        }

        .list-item:hover {
            box-shadow:  0px 17px 50px 0px rgba(0,0,0,0.188235);
            
            transform: translate3d(0px,-2px,0px);
            transition: all 0.3s ease;
        }

        .item-img-big {
            width: 100%;
            height: 300px;

            background-position: center;
            background-size: cover;
        }
    }
}

.footer {
    padding: 30px 0 100px;

    .footer-top {
        background-position: center;
        background-size: cover;

        width: 100%;
        height: 350px;

        .title {
            padding-top: 50px;

            font-size: 50px;

            color: #fff;
        }
    }

    .footer-bottom{
        padding-top: 50px;

        text-align: center;

        .text {
            font-size: 20px;
        }
    }
}

// 侧边栏分类样式
.slider-sort-div {
    display: none;
    
    position: fixed;
    bottom: 60px;
    right: 110px;

    padding: 10px 20px;
    width: 1000px;
    height: 500px;

    background-image: url('/public/images/sort_bg.png');
    background-position: 100% 100%;
    background-size: cover;

    .sort-show-list {
        width: 930px;
        height: 465px;

        overflow-y: auto;

        .list-item {
            position: relative;

            display: block;

            margin: 0 30px 20px 0;
            width: 200px;
            height: 200px;

            border-radius: 5px;

            .item-text {
                position: absolute;
                bottom: 15px;

                height: 50px;
                width: 100%;
                
                border-top: 1px solid #dddfe0;
                border-bottom: 1px solid #dddfe0;

                background-color: rgba(241, 227, 227, .5);

                .t-title {
                    padding-left: 30px;

                    line-height: 50px;
                    font-size: 20px;

                    color: $gray-color;
                }
            }

            .list-img-div {
                position: relative;

                width: 200px;
                height: 200px;

                overflow: hidden;

                cursor: pointer;

                .item-img {
                    width: 200px;
                    height: 200px;

                    border-radius: 5px 5px 0 0;

                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .item-cover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    border-radius: 5px;

                    background-color: rgba(102, 102, 102, 0.44);;
                
                    opacity: 0;
                }
            }

            .list-img-div:hover {
                .item-img {
                    transform: rotate(0deg) scale(1.2) translate(0%,0%);

                    transition: All 8s ease;
                }

                .item-cover {
                    opacity: 1;

                    transition: All 1s ease;
                }
            }
        }

        .list-item:hover {
            box-shadow:  0px 17px 50px 0px rgba(0,0,0,0.188235);
            
            transform: translate3d(0px,-2px,0px);
            transition: all 0.3s ease;
        }
    }
}

.body::-webkit-scrollbar {
    width: 7px;
} /* 这是针对缺省样式 (必须的) */

.body::-webkit-scrollbar-track {
    background-color: #5e6468;
} /* 滚动条的滑轨背景颜色 */

.body::-webkit-scrollbar-thumb {
    background-color: $main-color; 
} /* 滑块颜色 */

.body::-webkit-scrollbar-button {
    display: none;
} /* 滑轨两头的监听按钮颜色 */

.body::-webkit-scrollbar-corner {
    display: none;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */


// 分类滚动条
.sort-show-list::-webkit-scrollbar {
    width: 7px;
} /* 这是针对缺省样式 (必须的) */

.sort-show-list::-webkit-scrollbar-track {
    background-color: #5e6468;
} /* 滚动条的滑轨背景颜色 */

.sort-show-list::-webkit-scrollbar-thumb {
    background-color: $main-color; 
} /* 滑块颜色 */

.sort-show-list::-webkit-scrollbar-button {
    display: none;
} /* 滑轨两头的监听按钮颜色 */

.sort-show-list::-webkit-scrollbar-corner {
    display: none;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */


// 固定块样式
.layui-fixbar {
    li:first-child {
        width: 100px;
        height: 129px;

        background-image: url('/public/images/sort_icon.png');
        background-color: transparent !important;
        background-position: center center;
        background-size: cover;
    }

    .layui-fixbar-top {
        margin: 20px 0 0 20px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 30px;

        background-color: $main-color !important;
        background-position: center center;
        background-size: cover;
    }
}
